@import "../../shared/styles/breakpoints";
@import "../../shared/styles/respondTo";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #f8f8f8;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 680px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    @apply mt-12;

    &_price {
      color: #000000;
      font-weight: 700;
      @apply text-2xl;
    }
  }
}
