@import "../../styles/breakpoints";
@import "../../styles/respondTo";

.logo {
  width: clamp(80px, 160 / 992 * 100vw, 320px); // md

  @include respond-to("lg") {
    width: clamp(80px, 160 / 1200 * 100vw, 320px); // lg
  }

  @include respond-to("xl") {
    width: clamp(80px, 160 / 1360 * 100vw, 320px); // xl
  }

  @include respond-to("2xl") {
    width: clamp(80px, 160 / 1520 * 100vw, 320px); // 2xl
  }

  @include respond-to("3xl") {
    width: clamp(80px, 160 / 1680 * 100vw, 320px); // 3xl
  }

  @include respond-to("4xl") {
    width: clamp(80px, 160 / 1920 * 100vw, 320px); // 4xl
  }

  @include respond-to("5xl") {
    width: clamp(80px, 160 / 2560 * 100vw, 320px); // 5xl
  }
}
